<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main">
<head>
    <title th:text="#{user.change.password.label}">Password</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <ol class="breadcrumb">
            <li>
                <i class="glyphicon glyphicon-home"></i>
                <span th:text="#{home.label}">Home</span>
            </li>
            <li class="active">
                <i class="glyphicon glyphicon-wrench"></i>
                <span th:text="#{user.change.password.label}"></span>
            </li>
        </ol>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <form class="form-horizontal" method="post" action="/home/password" id="change-password"
                  th:object="${passwordCommand}" th:action="@{/home/password}">
                <input path="id" type='hidden' value="${passwordCommand.id}" th:field="*{id}"/>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        <span th:text="#{currentPassword.label}">Current Password</span>
                        <span class="required-indicator">*</span>
                    </label>

                    <div class="col-sm-4">
                        <input type="password" size="32" class="text"
                               th:field="*{currentPassword}"
                               th:class="${#fields.hasErrors('currentPassword')} ? fieldError"/>
                        <ul>
                            <li th:each="err: ${#fields.errors('currentPassword')}" th:text="${err}">Error</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        <span th:text="#{newPassword.label}">New Password</span>
                        <span class="required-indicator">*</span>
                    </label>

                    <div class="col-sm-4">
                        <input type="password" size="32" id="password"
                               th:field="*{password}"
                               th:class="${#fields.hasErrors('confirmPassword') || #fields.hasErrors('isPasswordConfirmed')} ? fieldError"/>
                        <ul>
                            <li th:each="err: ${#fields.errors('password')}" th:text="${err}">Error</li>
                        </ul>
                        <ul>
                            <li th:each="err: ${#fields.errors('isPasswordConfirmed')}" th:text="${err}">Error</li>
                        </ul>


                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        <span th:text="#{confirmPassword.label}">Confirm Password</span>
                        <span class="required-indicator">*</span>
                    </label>

                    <div class="col-sm-4">
                        <input type="password" size="32" id="confirmPassword"
                               th:field="*{confirmPassword}"
                               th:class="${#fields.hasErrors('confirmPassword') || #fields.hasErrors('isPasswordConfirmed')} ? fieldError"/>
                        <ul>
                            <li th:each="err: ${#fields.errors('confirmPassword')}" th:text="${err}">Error</li>
                        </ul>
                        <ul>
                            <li th:each="err: ${#fields.errors('isPasswordConfirmed')}" th:text="${err}">Error</li>
                        </ul>
                    </div>
                </div>
                <!-- buttons -->
                <div class='form-group'>
                    <div class="col-sm-2 col-sm-offset-2">
                        <button class='btn btn-default' id='create-button' type="submit">
                            <span th:text="#{action.save.label}">Save</span>
                        </button>
                    </div>
                    <div class="col-sm-2">
                        <button class='btn btn-default' id='reset-button' type="reset">
                            <span th:text="#{action.reset.label}">Reset</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
    <script src="/js/home/password.js"></script>
</th:block>
</body>
</html>
